<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <meta charset="UTF-8">
    <title>添加图书</title>
    <link rel="shortcut icon" th:href="@{/img/favicon.ico}"/>
    <div th:replace="common/common :: baseLink"></div>
    <style type="text/css">
        h1 {
            text-align: center;
            margin-top: 200px;
        }

        h1 a {
            color: red;
        }

        input {
            text-align: center;
        }
    </style>
</head>
<body>
<div id="header">
    <h1 style="display: inline">
        <div class="logo_img">
            <a th:replace="common/common :: logo"></a>
        </div>
    </h1>
    <div th:replace="common/common :: manager"></div>
</div>

<div id="main">
    <form th:action="@{/manager/add}" method="post">
        <input type="hidden" name="pages" th:value="${pages}">
        <table>
            <tr>
                <td>名称</td>
                <td>作者</td>
                <td>价格</td>
                <td>销量</td>
                <td>库存</td>
                <td colspan="2">操作</td>
            </tr>
            <tr>
                <td><input name="title" type="text"/></td>
                <td><input name="author" type="text"/></td>
                <td><input name="price" type="text"/></td>
                <td><input name="sales" type="text"/></td>
                <td><input name="stock" type="text"/></td>
                <td><input type="submit" value="提交"/></td>
            </tr>
        </table>
    </form>


</div>

<div id="bottom" th:include="common/common :: copyright"></div>
</body>
</html>